In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import pylab

In [3]:
titanic_df = pd.read_csv('titanic_data.csv')

In [4]:
print titanic_df.head()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
## How many people on average travel with their family?
print titanic_df[['SibSp','Parch']].describe()

## About 52% people travel with their siblings
## About 38% people travel with their parents or children

            SibSp       Parch
count  891.000000  891.000000
mean     0.523008    0.381594
std      1.102743    0.806057
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      1.000000    0.000000
max      8.000000    6.000000

In [6]:
series = titanic_df.groupby('Pclass')['Survived'].mean()
print series
print series.index
#pylab.figure()
fig, ax = plt.subplots()
ax.xaxis.set_major_locator(ticker.MaxNLocator(integer=True))
plt.bar(series.index, series, align='center', color='green')
plt.title('People Survived Vs Passenger Class')
plt.xlabel('Passenger Class')
plt.ylabel('Average Number of People Survived')
plt.show()
print fig
print ax

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Int64Index([1, 2, 3], dtype='int64', name=u'Pclass')
Figure(640x436)
Axes(0.125,0.1;0.775x0.8)

In [7]:
#total = titanic_df[titanic_df['Survived'] == 1].groupby('Age')['Survived'].count()
series = titanic_df.groupby('Age')['Survived'].mean()
#series/=titanic_df[titanic_df['Survived'] == 1]['PassengerId'].count()
#series*=100
print series
#print titanic_df[titanic_df['Survived'] == 1].count()
#print total.sum()
plt.xlabel("Age")
plt.ylabel("Survival %")
plt.title("Survival pervcentage vs Age of people in Titanic Accident")
series.plot()
plt.show()

Age
0.42     1.000000
0.67     1.000000
0.75     1.000000
0.83     1.000000
0.92     1.000000
1.00     0.714286
2.00     0.300000
3.00     0.833333
4.00     0.700000
5.00     1.000000
6.00     0.666667
7.00     0.333333
8.00     0.500000
9.00     0.250000
10.00    0.000000
11.00    0.250000
12.00    1.000000
13.00    1.000000
14.00    0.500000
14.50    0.000000
15.00    0.800000
16.00    0.352941
17.00    0.461538
18.00    0.346154
19.00    0.360000
20.00    0.200000
20.50    0.000000
21.00    0.208333
22.00    0.407407
23.00    0.333333
           ...
44.00    0.333333
45.00    0.416667
45.50    0.000000
46.00    0.000000
47.00    0.111111
48.00    0.666667
49.00    0.666667
50.00    0.500000
51.00    0.285714
52.00    0.500000
53.00    1.000000
54.00    0.375000
55.00    0.500000
55.50    0.000000
56.00    0.500000
57.00    0.000000
58.00    0.600000
59.00    0.000000
60.00    0.500000
61.00    0.000000
62.00    0.500000
63.00    1.000000
64.00    0.000000
65.00    0.000000
66.00    0.000000
70.00    0.000000
70.50    0.000000
71.00    0.000000
74.00    0.000000
80.00    1.000000
Name: Survived, dtype: float64

In [14]:
data = titanic_df.groupby(['Embarked','Pclass'])['PassengerId'].count()
print data
print data.index
print data.loc['C'].values[0]
"""plt.bar(data.index, data, align='center', color='green')
plt.title('People Survived Vs Passenger Class')
plt.xlabel('Passenger Class')
plt.ylabel('Average Number of People Survived')
plt.show()"""
#plt.show()
N = 3
ind = np.arange(N)  # the x locations for the groups
width = 0.27       # the width of the bars

fig = plt.figure()
ax = fig.add_subplot(111)

yvals = [data.loc['C'].values[0],data.loc['S'].values[0],data.loc['Q'].values[0]]
rects1 = ax.bar(ind, yvals, width, color='r')
zvals = [data.loc['C'].values[1],data.loc['S'].values[1],data.loc['Q'].values[1]]
rects2 = ax.bar(ind+width, zvals, width, color='g')
kvals = [data.loc['C'].values[2],data.loc['S'].values[2],data.loc['Q'].values[2]]
rects3 = ax.bar(ind+width*2, kvals, width, color='b')

ax.set_ylabel('Number of people boarding Titanic')
ax.set_xticks(ind+width)
ax.set_xticklabels( ('Cherbourg', 'Southampton', 'Queenstown') )
ax.legend( (rects1[0], rects2[0], rects3[0]), ('Class 1st', 'Class 2nd', 'Class 3rd') )

def autolabel(rects):
    for rect in rects:
        h = rect.get_height()
        ax.text(rect.get_x()+rect.get_width()/2., 1.05*h, '%d'%int(h),
                ha='center', va='bottom')

autolabel(rects1)
autolabel(rects2)
autolabel(rects3)

plt.show()

Embarked  Pclass
C         1          85
          2          17
          3          66
Q         1           2
          2           3
          3          72
S         1         127
          2         164
          3         353
Name: PassengerId, dtype: int64
MultiIndex(levels=[[u'C', u'Q', u'S'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=[u'Embarked', u'Pclass'])
85

In [17]:
## Which class of sex has more chance of survival?
titanic_df.groupby('Sex')['Survived'].mean()

## Out of all female passengers, 74% passengers survived Titanic accident
## Out of all male passengers, 18.89% passengers survived Titanic accident

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64